<div style="line-height:25px;">
    <h3>List of All Projects</h3>
    <table border="0" style="border:1px dashed #DDD;">
      <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.name, project %></td>
          </tr>
      <% end %>
    </ul>
    </table>
</div>

<div>
  <br />
  <%= link_to 'New Project', new_project_path %>
</div>

<nav>
  <%= link_to "Sign up", new_user_registration_path %>
</nav>